<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="UTF-8">
  <title> Data Visualization</title>
  <style>
    body{
      background : rgb(196, 162, 162);
      color: black;
    }
  </style>
</head>
<body>
  <h1> Customer Segmentation</h1>
   <center> <img src={{user_image}} </center>
   <p> The richest customer's yearly household income : 666666.0
    The poorest customer's yearly household income:  1730.0</p>
    <center> <img src="/static/graphs/pic2.png" </center>
    <p> Here we are calculated the age of the customers from their birth year. Distribution of customers by year of birth is between 1900 - 1996
    </p>
    <center> <img src="/static/graphs/pic3.png" </center>
    <p>   We can see that there are 8 different categories as Marital Status. These can be segmented as single, or in a relationship.
    </p>
    <center> <img src="/static/graphs/pic4.png" </center>
    <p> This segmentation clarifies the most of the customers are graduated from school
    </p>
    <center> <img src="/static/graphs/pic5.png" </center>
    <p>That graph indicates that most of the customers did not accept any of the campaings.
    </p>
    <center> <img src="/static/graphs/pic6.png" </center>
    <p>We can see that distribution of the total purchases
    </p>
    <center> <img src="/static/graphs/pic7.png" </center>
    <p>With this graph, we can see the relationship between is_single and other columns. We can see the outliers with this plot
    </p>
    <center> <img src="/static/graphs/pic8.png" </center>
    <p>This graph shows the correlation between features on heat map
    </p>
    <center> <img src="/static/graphs/pic9.png" </center>
    <p>We can see how age impacts on income, the older they get the more income they have
    </p>
    <center> <img src="/static/graphs/pic10.png" </center>
    <p>This graph indicates that how martial status impacts on spendings, there is no big difference in both status
    </p>
    <center> <img src="/static/graphs/pic11.png" </center>
    <p>This graph is the correlation graph after deleting unnecessary columns. More readable, more clear
    </p>
    
    <h3> K-means Clustering</h3>
    <p> The elbow method: we use this method to find numbers of clusters to make.</p>
    <center> <img src="/static/graphs/pic12.png" </center>
    <p>As seen above our k=5
    </p>
  
    <h3> Evaluating the model</h3>
    <center> <img src="/static/graphs/pic13.png" </center>
    <p>Cluster 3 has the largest of our consumers, whilst cluster 2 has a small number of them</p>
    
    <h3> The Income and Spending Profile of a Cluster </h3>
    <center> <img src="/static/graphs/pic14.png" </center>
    <p>cluster1: high income, low spending
  
      cluster3: high income, high spending
      
      cluster0: high income, average spending
      
      cluster2: low income, low spending
      
      cluster4: average income,low/average spending</p>
  
      <h3> The Total Amount Spent by Each Cluster  </h3>
      <center> <img src="/static/graphs/pic15.png" </center>
      <p>Cluster 1 spends the most considering the size of the spenders, followed by Cluster 3.</p>
  
      <h3> Total Purchases </h3>
      <center> <img src="/static/graphs/pic16.png" </center>
      <p>cluster 1 purchased more compared to others.</p>
  
      <h3> Accepted Campaings </h3>
      <center> <img src="/static/graphs/pic17.png" </center>
      <p>There is no any significant engagement of customers with our campaigns</p>
     
      <h3> Customer Engagement </h3>
      <center> <img src="/static/graphs/pic18.png" </center>
      <p>This graph shows the tenure and customers' engagement </p>

      <h2> Customer Profile</h2>

      <h3> Count of Education </h3>
      <center> <img src="/static/graphs/pic19.png" </center>
      <p> Majority of our population are educated, cluster 3 have the highest number of educated people </p>

      <h3> Count of Marital Status </h3>
      <center> <img src="/static/graphs/pic20.png" </center>
      <p> Majority of our population are married, cluster 3 have the highest number of married people. Additionally, cluster 1 have the highest number of single people </p>
</body>
</html>